.Login-header {
    background-color: blanchedalmond;
    font-weight: bold;
}

.Main {
    margin: 1cm;
    display: grid;
    justify-items: center;
    align-items: center;
}

.Login-border {
    width: 50%;
    height: 110%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color:blanchedalmond;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px black;
    margin: 100px;
}

.Login-input {
    background-color: blanchedalmond;
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.Login-text {
    background-color: blanchedalmond;
    color:#3a3a3a;
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    width: 100%;
}

.Login-button {
    width: 100%;
    padding: 7px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}